*{
    margin: 0;
    padding: 0;
    background-color:black ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80px;
}
.name{
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.nav1{
    list-style: none;
    display: flex;
    color: white;
    gap: 60px;
    font-size: x-large;
}
a{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.i1{
    padding: 5px;
}
.i2{
    padding: 5px;
}
.i3{
    padding: 5px;
}
.info{
    color: white;
    margin: 145px;
    font-size: x-large;
}
.pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* margin-left: 100px; */
    margin-top: -200px;
    float: inline-end;
}